#form_upload_ajax {
  padding: 10px;
  background: #A5CCFF;
  border-radius: 5px;
}
#progress {
  border: 1px solid #ccc;
  width: 500px;
  height: 20px;
  margin-top: 10px;
  text-align: center;
  position: relative;
}
#progressbar {
  background: #F39A3A;
  height: 20px;
  width: 0px;
}
#percent {
  position: absolute;
  left: 50%;
  top: 0px;
}